apiVersion: v1
kind: Service
metadata:
  name: eureka-server
  namespace: bloghive
spec:
  selector:
    app: eureka-server
  ports:
    - protocol: TCP
      port: 8761
      targetPort: 8761
  type: ClusterIP

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: eureka-server-deployment
  namespace: bloghive
spec:
  replicas: 1
  selector:
    matchLabels:
      app: eureka-server
  template:
    metadata:
      labels:
        app: eureka-server
    spec:
      containers:
        - name: eureka-server
          image: 457795063740.dkr.ecr.us-east-1.amazonaws.com/eureka-server:latest
          ports:
            - containerPort: 8761
          imagePullPolicy: Always