apiVersion: v1
kind: Service
metadata:
  name: config-server
  namespace: bloghive
spec:
  selector:
    app: config-server
  ports:
    - protocol: TCP
      port: 8888
      targetPort: 8888
  type: ClusterIP

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: config-server-deployment
  namespace: bloghive
spec:
  replicas: 1
  selector:
    matchLabels:
      app: config-server
  template:
    metadata:
      labels:
        app: config-server
    spec:
      containers:
        - name: config-server
          image: 457795063740.dkr.ecr.us-east-1.amazonaws.com/bloghive-config-server:latest
          ports:
            - containerPort: 8888
          imagePullPolicy: Always
          env:
            - name: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
              value: "http://eureka-server:8761/eureka/"
            - name: EUREKA_CLIENT_RETRY_ENABLED
              value: "true"